@model RoleViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Details Of Roles</h1>

<br />
<br />

<div class="form-group">
    <label class="col-form-label" asp-for="RoleName"></label>
    <input class="form-control" asp-for="RoleName" readonly />
    <span asp-asp-validation-for="RoleName" class="text-danger"></span>
</div>
<a asp-controller="Role" asp-action="Edit" class="btn btn-light" asp-route-id="@Model.Id">Edit</a> ||
<a asp-controller="Role" asp-action="Index" class="btn btn-light">Back To List</a>

@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial" />
}
